.area {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 15vh;
  bottom: 0;
  right: 0;
  transition: 0.25s ease;
  color: #202020;
  height: 80vh;
  width: 35vw;
  z-index: 99;
}

.icon {
  width: 4vw;
  height : 4vw;
}

.icon:hover{
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.68);
}

.container {
  width: 30vw;
}

.sidebar {
  background-color: #fff;
  border-radius: 16px;
  height: 100%;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 0 10px 20px rgba(2, 4, 142, 0.15);
}

.content {
  padding: 5% 5% 0 5%;
  width: 100%;
}

.content h1 {
  width: 100%;
  text-align: center;
  color: #1b0278;
}

.menu{
  width: 100%;
  text-align: center;
  margin:0 0 0 0 ;
  color: #1b0278;
}

.menu:after{
  display:block;
  content: '';
  margin-top: 5%;
  border-bottom: solid 3px #1b0278;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.menu_selected{
  width: 100%;
  text-align: center;
  margin:0 0 0 0 ;
  color: #1b0278;
}

.menu_selected:after{
  display:block;
  content: '';
  margin-top: 5%;
  border-bottom: solid 3px #1b0278;  
  transform: scaleX(1);  
  transition: transform 250ms ease-in-out;
}

.content h4 {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: #1b0278;
}

.setBtn {
  background-color: #fff;
  width: 100%;
  border: none;
  color: #1b0278;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  white-space: nowrap;
}

.setBtn_selected {
  background-color: #1b0278;
  width: 30%;
  border: none;
  color:#fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  white-space: nowrap;
}

.setBtn:hover {
  background-color: #1b0278;
  color:#fff;
}

button{
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  justify-content: space-between;
  color: #1b0278;
}
